:root {
	--bg-color: #ddb74d;
	--bg-color-dark: #e28800;
	--bg-color-darker: #d06000;
}

body {
	background-color: var(--bg-color);
	font-family: Arial;
	overflow-y: scroll;
}
body::-webkit-scrollbar {
	width: 0.8em;
	height: 0.8em;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-dark);
}
body::-webkit-scrollbar-thumb:hover {
	background-color: var(--bg-color-darker);
}
body::-webkit-scrollbar-corner {
	background-color: var(--bg-color);
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

button{
	background-color: var(--bg-color-dark);
}
button:hover:enabled {
	background-color: #ffdd48;
	cursor: pointer;
}
.bold {
	font-weight: bold;
}
.big {
	height: 3ch;
	min-width: 12ch;
	font-size: 16px;
}

textarea {
	width: min(600px, 100%);
	height: 500px;
	font-size: 16px;
}

dialog {
	position: fixed;
	margin: 0;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 65ch;
	overflow-y: auto;
	max-height: calc(100vh - 150px);
	
	color: white;
	padding: 1ch;
	line-height: 2ch;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
	overscroll-behavior: contain;
}
.dialog-button {
	width: 12ch;
	height: 4ch;
}
.textinput {
	font-size: 16px;
}
.notaInline {
	margin: 0;
	display: inline-block;
	font-size: 14px;
}
@keyframes fade-out {
	from {opacity: 1;}
	to {opacity: 0;}
}
.fadeOut {
	animation: fade-out 2s 5s;
	animation-fill-mode: forwards;
}
.fixedbl {
	margin: 0;
	position: fixed;
	bottom: 20px;
	left: 20px;
}
.button-container {
	display: flex;
	margin-top: 7px;
	margin-bottom: 7px;
	gap: 10px;
	justify-content: flex-start; /* Align items starting from the left edge */
}
.separate {
	margin-left: 70px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.plot {
	width: 800px;
	height: 400px;
	background-color:  rgba(0, 0, 0, 0.9);
	margin-top:12px;
	margin-bottom: 12px;
}
.hidden {
	visibility: hidden
}

select:disabled {
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
}
.selector {
	max-width: 40ch;
	background-color: var(--bg-color-dark);
	border-width: 2px;
	color: black;
	border-color: var(--transparentWhiteB);
}
.selector option {
	background-color: /*rgba(16, 16, 16, 1)*/var(--bg-color-dark);
	color: black;
}
option:hover{
	background-color: #ffdd48;
}
.selector:hover:enabled {
	background-color: #ffdd48;
	cursor: pointer;
}

#language-switch {
	aspect-ratio: 1;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .2);
}