/* http://jsfiddle.net/bpt1mcv6/ */

label {
	pointer-events:none;
}
p {
	cursor: default;
}
span {
	cursor: default;
}

.overlayed {
    position: relative;
	overflow: visible;
}
.circle {
	position: absolute;
	pointer-events: none;
	cursor: default;
	border-radius: 50%;
	background-color: rgba(64, 64, 64, 0.5);
	width: 50px;
	aspect-ratio: 1;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	--rot: 0;
}
.line {
	width: 0px;
	height: 2px;
	transform-origin: left center;
	transform: translate(0, -1px) rotate(var(--rot));
	border-radius: 0;
	background-image: linear-gradient(to right, rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.6) 50%);
	background-position: 0;
	background-size: 10px 1px;
	border: none;
	z-index: 1;
}
.arrowend {
	--origin: 0;
	font-size: 50px;
	opacity: 60%;
	transform-origin: var(--origin);
	transform: rotate(var(--rot)) translate(-8px, -35px);
	border-radius: 0;
	top: 50%;
	left: 75%;
	width: 0;
	text-align: center;
}
.overlay {
	text-align: left;
	line-height: 2;
	position: absolute;
	top: 0;
	padding: 8px;
	padding-top: 2px;
	background: rgba(0, 0, 0, 0.3);
}
.overlay:hover {
	background: rgba(0, 0, 0, 0.8);
}
.right {
	right: 0;
	text-align: right;
	border-bottom-left-radius: 10px;
}
.left {
	width: 23.5ch;
	left: 0;
	border-bottom-right-radius: 10px;
}

.categoryspan {
	display: block;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.dialogo {
	color: white;
	padding: 1ch;
	line-height: 2ch;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
	font-family: Arial;
	overscroll-behavior: contain;
}
#helpdialog {
	position: fixed;
	margin: 0;
	bottom: 20px;
	left: 20px;
}
#newsdialog {
	position: fixed;
	margin: 0;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 65ch;
	overflow-y: auto;
	height: calc(100vh - 150px);
}
#canvas {
	user-select: none;
}
.numberinput {
	width: 7ch;
	color: #fff;
	background: rgba(0, 0, 0, 0);
	border: 2px solid black;
	border-color: rgba(255, 255, 255, 0.2);
	padding-left: 3px;
}
.numberinput:hover {
	border-color: rgba(255, 255, 255, 1);
}

.titilante {
  animation: titilarBorde 0.5s linear 3;
  --titil-color: yellow;
}

@keyframes titilarBorde {
	0% {
		border-color: color-mix(in srgb, currentColor 20%, transparent);
	}
	50% {
		border-color: var(--titil-color, orange);
	}
	100% {
		border-color: color-mix(in srgb, currentColor 20%, transparent);
	}
}

.hidden {
	display: none;
}

.textinput {
	width: 10ch;
	color: #fff;
	background: rgba(0, 0, 0, 0);
	border: 2px solid black;
	border-color: rgba(255, 255, 255, 0.2);
	padding-left: 5px;
}
.textinput:hover {
	border-color: rgba(255, 255, 255, 1);
}

.colorinput {
	width: 30%;
	height: 2.5ch;
	outline: none;
	border-width: 0;
	border-style: none;
	cursor: pointer;
}


input[type="range"] {
	--thumbg: rgba(255, 255, 255, 1);
	-webkit-appearance: none;
	width: 60%;
	height: 3px;
	background: rgba(255, 255, 255, 0.3);
	background-size: 70% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 6px;
	background: var(--thumbg);
	cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

/* Firefox */
/* TODO */


.button {
	border: 2px solid black;
	border-color: rgba(255, 255, 255, 0.2);
	background-color: rgba(0, 0, 0, 0);
	color: white;
	cursor: pointer;
}
.button:hover {
	border-color: rgba(255, 255, 255, 1);
}
.button:active{
	background-color: white;
	color: black
}
.switchedoff {
	color: rgba(255, 255, 255, 0.3);
}


#pausebutton {
	width: 9ch;
}

.hastooltip {
	position: relative;
}

.tooltiptext {
	visibility: hidden;
	width: 30ch;
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	line-height: 1.2;
	font-family: Arial;
	font-size: 14px;
	/* Position the tooltip */
	position: absolute;
	top: -5px;
	margin-left: 2ch;
	z-index: 1;
}
.short {
	width: 25ch;
}
.long {
	width: 35ch;
}

.hastooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.5s;
}

.selector {
	width: 8ch;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.selector option {
	background-color: rgba(16, 16, 16, 1);
	color: white;
}/*
option:hover{
	background-color: rgba(64, 64, 64, 1);
}*/

.selector:hover {
	border-color: rgba(255, 255, 255, 1);
}
.selr {
	width: 9ch;
}
.smallp {
	margin: 0;
	text-align: left;
}
.monospaced {
	font-family: 'Courier New', Courier, monospace;
}

input::-webkit-color-swatch-wrapper {
	padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

