@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter.var.woff2") format("woff2");
}

body {
	font-family: Inter, Asap, Arial, sans-serif;
}
button {
	font-family: Inter;
	background-color: #e28800;
}
button:hover {
	background-color: #ffdd48;
}
.bold {
	font-weight: bold;
}

#imageContainer {
	position: relative;
	display: inline-block;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgba(0, 0, 0, 1);
	text-align: center;
}
#imageContainer img {
	display: block;
	max-width: 600px;
	height: auto;
}
#imageContainer .imageLabel {
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 4px 8px;
	font-family: Arial;
	font-size: 10px;
}
#btclogo {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	width: 30px;
	height: auto;
}
.notaInline {
	margin: 0;
	display: inline-block;
	font-size: 14px;
}